/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 22, 2014, 4:36:55 PM
    Author     : Administrator
*/
        .float_left{
            float: left;
        }
        #chart_properties{           
            width: 350px;
           // border: 1px solid #7c7c7c;
        }
        #chart_loans{
          //  width: 550px;
          //  border: 1px solid #7c7c7c;
        }
        
        #chart_deals{
            width: 620px;
          //  border: 1px solid #7c7c7c;
        }
        #container {
            width: 100%;
        }

    path.link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }
    .node {
        cursor: pointer;
    }

    .overlay{
        background-color:#EEE;
    }

    .node circle {
      stroke-width: 1.5px;
    }

    .node text {
      font-size:10px; 
      font-family:sans-serif;     
    }

