/* 
    Created on : Aug 22, 2014, 4:36:55 PM
    Author     : Aditi
*/
@font-face {
    font-family: OpenSans-Light;
    src: url(OpenSans-Light.ttf);
}
#social_graph{
    width: 100%;
    height: 450px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #7c7c7c

}
div.tooltip {
    position: absolute;
    width: 100px;
    height: auto;
    text-align: center;           
    padding: 5px;             
    font: 12px sans-serif;        
    background-color: #D4D4D4;  
    border: 0px; 
    pointer-events: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
    pointer-events: none;  
}
        
.float_left{
    float: left;
}
#container {
    width: 100%;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
.node {
    cursor: pointer;
}

.node circle {
    stroke-width: 2px;
    stroke: #999999;
}

.node text {   
    font-size:10px; 
    font-family:OpenSans-Light; 
    fill: #1a1a1a;
    stroke: none; 
}

/* Color code for circles */
.dealsDefault {
    fill: #98e6f1;
}
.dealsSelected {
    fill: #006E91;
}
.tranchesDefault {
    fill: #98e6f1;
}
.tranchesSelected {
    fill: #006E91;
}        
.loansDefault {
    fill: #7AD3AB;
}
.loansSelected {
    fill: #98C73D;
}
.b-loansDefault {
    fill: #7AD3AB;
}
.b-loansSelected {
    fill: #98C73D;
}
.sun-juniorDefault {
    fill: #EAEAEA;
}
.sun-juniorSelected {
    fill: #CCCCCC;
}
.propertiesDefault {
    fill: #6EC0CE;
}
.propertiesSelected {
    fill: #006E91;
}
.properties-singleDefault {
    fill: #6EC0CE;
}
.properties-singleSelected {
    fill: #006E91;
}
.tenantDefault {
    fill: #EAEAEA;
}
.tenantSelected {
    fill: #CCCCCC;
}
.sponsorDefault {
    fill: #E9E3FF;
}
.sponsorSelected {
    fill: #D6CCF2;
}        
.loansToProperties,  .dealsToLoans{
    stroke: #ccc;
}

.propertiesSelected ~ text {
    fill: #ffffff;
}
.properties-singleSelected ~ text {
    fill: #ffffff;
}
.dealsSelected ~ text {
    fill: #ffffff;
}
.tranchesSelected ~ text {
    fill: #ffffff;
}
.dwhite{
    fill: #fff;
}
.lwhite{
    fill: #fff;
}

#social_graph svg {
    margin-top: -5px;
}

div.social-graph-tooltip {position: absolute;width: 100px;height: auto;text-align: center;padding: 5px;background-color: #fff; color:#000;
                           border: 1px solid #c2c2c2; pointer-events: none;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 2px;
                           -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);-mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
                           pointer-events: none;font-size:11px;}
